# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.tar
*.tar.gz

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/

# R
.Rhistory
.Rdata
.RData
.Rproj.user/

# Misc
*.log
tmp/
.claude
